{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "env": { "browser": true, "jest": true },
  "rules": {
    "prettier/prettier": ["error"],
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-closing-bracket-location": [1, "line-aligned"],
    "react/prop-types": ["off"],
    "no-return-assign": ["off"],
    "no-plusplus": ["off"],
    "react/destructuring-assignment": ["off"],
    "import/extensions": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "react/no-unescaped-entities": ["off"],
    "react/jsx-props-no-spreading": ["off"]
  }
}
