.checkout-item {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100px;
  border-bottom: 1px solid grey;
  font-family: 'Arial Narrow';
  color: grey;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
    }
  }

  span {
    width: 23%;
  }

  .quantity {
    display: flex;

    .value-button {
      display: inline-block;
      border: 1px solid #ddd;
      margin: 0px;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;
      background: #1a73e8;
      color: white;
      cursor: pointer;
    }

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    #number {
      text-align: center;
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: 0px;
      width: 20px;
      height: 20px;
    }
  }

  .delete-button {
    width: 8%;
    padding-left: 12px;
    cursor: pointer;
  }
}
