.single-item {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  position: relative;

  .image {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    .button-component {
      position: absolute;
      top: 130px;
      margin: 0 auto;
      display: none;
    }

    &:hover {
      .button-component {
        display: block;
        background-color: #1a73e8;
        opacity: 0.85;
      }
    }
  }

  .preview-footer {
    height: 10%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
  }
}
