.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .option-container {
    .option {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
