.button-component {
  height: 30px;
  width: auto;
  min-width: 150px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 30px 5px 30px;
  letter-spacing: 1px;
  font-family: 'Open Sans Condensed';
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
